

.board {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.nextBlock {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 200px;
    height: 480px;
}

table {
    border-collapse: collapse;
    position: absolute;
}


td {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    text-align: center;
}

.Intro {
    position: absolute;
    z-index: 3;
    right: 50%;
    transform: translateX(50%);
    top: 20%;
    text-align: center;
}

.blockBox {
    border: 1px solid black;
    width: 150px;
    height: 400px;
    margin: 0 auto;
}

button {
    position: relative;
}