

.board {
    position: relative;
    display: inline-block;
}

.nextBlock {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 500px;
    background-color: blue;
}

table {
    border-collapse: collapse;
    position: absolute;
}


td {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    text-align: center;
}

.Intro {
    position: absolute;
    z-index: 3;
    right: 50%;
    transform: translateX(50%);
    top: 20%;
    text-align: center;
}

button {
    position: relative;
}